accelerate==1.3.0
ace_tools==0.0
astunparse==1.6.3
blobfile==3.0.0
catboost==1.2.6
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fastai==2.7.18
fastapi==0.115.8
fastcore==1.7.29
fastdownload==0.0.7
fastprogress==1.0.3
fire==0.7.0
flatbuffers==24.3.25
gast==0.6.0
git-filter-repo==2.47.0
google-pasta==0.2.0
grpcio==1.70.0
gunicorn==23.0.0
h5py==3.13.0
inquirerpy==0.3.4
jsonpointer==2.1
keras==3.8.0
libclang==18.1.1
llama_models==0.1.2
llama_stack==0.1.2
llama_stack_client==0.1.2
lxml==5.3.1
Markdown==3.7
matplotlib==3.10.0
ml-dtypes==0.4.1
mpld3==0.5.10
mpmath==1.3.0
munkres==1.1.4
networkx==3.4.2
nltk-punkt==0.6
numpy==1.26.4
openmeteo_requests==1.3.0
openmeteo_sdk==1.18.6
opt_einsum==3.4.0
pfzy==0.3.4
protobuf==5.29.3
pyaml==25.1.0
pyarrow==17.0.0
pycryptodomex==3.21.0
PySide6==6.8.1
python-dotenv==1.0.1
pytz==2025.1
pywin32==307
retry-requests==2.0.0
safetensors==0.5.2
sentencepiece==0.2.0
setuptools==68.2.2
shiboken6==6.8.1
starlette==0.45.3
sympy==1.13.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorflow==2.18.0
tensorflow_intel==2.18.0
termcolor==2.5.0
tiktoken==0.8.0
tokenizers==0.21.0
torch==2.5.1
torchaudio==2.6.0+cu118
torchvision==0.20.1
transformers==4.48.3
typer==0.15.1
typer-slim==0.15.1
uvicorn==0.34.0
wheel==0.41.2
zstandard==0.19.0
